body, [ng-include="template"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

[ng-include="template"].ng-enter, [ng-include="template"].ng-leave {
  -webkit-transition: opacity .5s ease-in .05s;
          transition: opacity .5s ease-in .05s;
  opacity: 0;
}

[ng-include="template"].ng-enter-active, [ng-include="template"].ng-leave-active {
  opacity: 1;
}

.cosmo-theme {
  min-height: 100%;
  /* z-index */
  /* setup easy margin/padding sass-map */
  /* colors */
  /* fonts */
  /* general image styling to be applied on inserting of the image */
  /* captions styling! Exciting right?! */
  /* general gallery styling */
}
.cosmo-theme .center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cosmo-theme .pad-horz {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .pad-horz {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.cosmo-theme .pad-vert {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .pad-vert {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}
.cosmo-theme .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 68.75rem;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media only screen and (min-width: 1224px) {
  .cosmo-theme .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.cosmo-theme .container--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.cosmo-theme .row-horz {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cosmo-theme .site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cosmo-theme ::-moz-selection {
  background-color: #ea1d2c;
  color: white;
}
.cosmo-theme ::selection {
  background-color: #ea1d2c;
  color: white;
}
.cosmo-theme .bg-blue--light {
  background-color: #70c8c4;
}
.cosmo-theme .bg-blue--light p, .cosmo-theme .bg-blue--light h1, .cosmo-theme .bg-blue--light h2, .cosmo-theme .bg-blue--light h3, .cosmo-theme .bg-blue--light h4, .cosmo-theme .bg-blue--light h5, .cosmo-theme .bg-blue--light h6 {
  color: #f7f7f7;
}
.cosmo-theme .bg-blue--light a {
  color: #459e9b;
}
.cosmo-theme .bg-blue--light a:hover {
  color: #4a6067;
}
.cosmo-theme .bg-blue--dark {
  background-color: #4a6067;
}
.cosmo-theme .bg-blue--dark p, .cosmo-theme .bg-blue--dark h1, .cosmo-theme .bg-blue--dark h2, .cosmo-theme .bg-blue--dark h3, .cosmo-theme .bg-blue--dark h4, .cosmo-theme .bg-blue--dark h5, .cosmo-theme .bg-blue--dark h6 {
  color: #f7f7f7;
}
.cosmo-theme .bg-gray--xlight {
  background-color: #fdfdfd;
}
.cosmo-theme .bg-gray--light {
  background-color: #f7f7f7;
}
.cosmo-theme .bg-green {
  background-color: #20ba2c;
}
.cosmo-theme .bg-green--light {
  background-color: #6dd595;
}
.cosmo-theme * {
  box-sizing: border-box;
}
.cosmo-theme a, .cosmo-theme button {
  outline: none;
}
.cosmo-theme a {
  color: #70c8c4;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: .025s ease-in;
          transition: .025s ease-in;
}
.cosmo-theme a:active, .cosmo-theme a:focus {
  outline: none;
}
.cosmo-theme a:hover {
  color: #459e9b;
  cursor: pointer;
}
.cosmo-theme b {
  font-weight: 400;
}
.cosmo-theme blockquote {
  border-left: 2px solid #858585;
  color: #858585;
  font-family: "quicksand", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.5;
  margin: 0.938rem 0 0.938rem 0.938rem;
  padding: 1.563rem 1.5rem;
}
.cosmo-theme button {
  border: 0;
  font-weight: 200;
}
.cosmo-theme h1, .cosmo-theme h2, .cosmo-theme h3, .cosmo-theme h4, .cosmo-theme h5, .cosmo-theme h6, .cosmo-theme p, .cosmo-theme a, .cosmo-theme b {
  font-family: "quicksand", sans-serif;
}
.cosmo-theme h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme h1 {
    font-size: 3.5rem;
  }
}
.cosmo-theme h2 {
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme h2 {
    font-size: 3rem;
  }
}
.cosmo-theme h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1.25rem;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme h3 {
    font-size: 2.5rem;
  }
}
.cosmo-theme h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme h4 {
    font-size: 2rem;
  }
}
.cosmo-theme h5 {
  color: #2b2827;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 1.875rem 0 1.25rem 0;
}
.cosmo-theme h6 {
  background-color: #70c8c4;
  border-bottom: 1px solid #459e9b;
  border-radius: 0.313rem 0.313rem 0 0;
  color: #f7f7f7;
  clear: both;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0.625rem;
}
.cosmo-theme p {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
.cosmo-theme small {
  font-size: 85%;
}
.cosmo-theme input {
  font-family: "quicksand", sans-serif;
  font-weight: 200;
}
.cosmo-theme input:focus {
  outline: none;
}
.cosmo-theme hr {
  border-bottom: 1px solid #dadada;
  border-left: none;
  border-right: none;
  border-top: none;
}
.cosmo-theme ::-moz-selection {
  background-color: #f7f7f7;
  color: #2b2827;
}
.cosmo-theme ::selection {
  background-color: #f7f7f7;
  color: #2b2827;
}
.cosmo-theme .table {
  overflow-x: scroll;
  overflow-y: hidden;
}
.cosmo-theme td, .cosmo-theme th {
  border: 1px solid #dadada;
  font-family: "quicksand", sans-serif;
  padding: 1.25rem;
}
.cosmo-theme td:last-child, .cosmo-theme th:last-child {
  width: 100%;
}
.cosmo-theme th {
  background-color: #f7f7f7;
}
.cosmo-theme th:last-child {
  width: 100%;
}
.cosmo-theme table {
  text-align: left;
  width: 100%;
}
.cosmo-theme tr:nth-child(even) {
  background-color: #fdfdfd;
}
.cosmo-theme ul, .cosmo-theme ol {
  font-family: "quicksand", sans-serif;
  font-weight: 200;
}
.cosmo-theme ul {
  padding-left: 2rem;
}
.cosmo-theme ul li {
  line-height: 1.5;
  margin-bottom: 0.938rem;
}
.cosmo-theme ol {
  padding-left: 2.5rem;
}
.cosmo-theme ol li {
  line-height: 1.5;
  margin-bottom: 0.938rem;
}
.cosmo-theme .button--blue-mid, .cosmo-theme .button--blue-dark, .cosmo-theme .banner--lrg .download, .cosmo-theme .banner--lrg .github {
  background-color: transparent;
  border: 1px solid #4a6067;
  border-radius: 0.313rem;
  color: #4a6067;
  display: block;
  font-family: "quicksand", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  outline: none;
  padding: 1.25rem 1.875rem;
  text-align: center;
  -webkit-transition: all .15s ease-in;
          transition: all .15s ease-in;
}
.cosmo-theme .button--blue-mid i, .cosmo-theme .button--blue-dark i, .cosmo-theme .banner--lrg .download i, .cosmo-theme .banner--lrg .github i {
  color: #4a6067;
  margin-right: .5rem;
}
.cosmo-theme .button--blue-mid:focus, .cosmo-theme .button--blue-dark:focus, .cosmo-theme .banner--lrg .download:focus, .cosmo-theme .banner--lrg .github:focus {
  color: white;
}
.cosmo-theme .button--blue-mid:hover, .cosmo-theme .button--blue-dark:hover, .cosmo-theme .banner--lrg .download:hover, .cosmo-theme .banner--lrg .github:hover {
  color: #f7f7f7;
}
.cosmo-theme .button--blue-mid {
  border: 1px solid #459e9b;
  color: #459e9b;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .cosmo-theme .button--blue-mid {
    width: auto;
  }
}
.cosmo-theme .button--blue-mid:focus {
  background-color: #4a6067;
}
.cosmo-theme .button--blue-mid:hover {
  background-color: #70c8c4;
  border: 1px solid #70c8c4;
  color: #f7f7f7;
}
.cosmo-theme .button--blue-mid.active {
  background-color: #4a6067;
  border: 1px solid #4a6067;
  color: #f7f7f7;
}
.cosmo-theme .button--blue-mid.active:hover {
  background-color: #4a6067;
  border: 1px solid #4a6067;
  cursor: default;
}
.cosmo-theme .button--blue-dark {
  color: #4a6067;
  display: inline-block;
}
.cosmo-theme .button--blue-dark:hover {
  background-color: #70c8c4;
  border: 1px solid #459e9b;
}
.cosmo-theme footer {
  background-color: white;
}
.cosmo-theme footer a {
  color: #ea1d2c;
}
.cosmo-theme footer a:hover {
  color: #70c8c4;
}
.cosmo-theme footer img {
  display: inline-block;
  margin-bottom: -.4rem;
  width: 5rem;
}
.cosmo-theme footer i.fa-facebook, .cosmo-theme footer i.fa-twitter {
  margin: 0 .5rem;
}
.cosmo-theme footer p {
  color: #858585;
  font-size: .85rem;
}
.cosmo-theme footer p:last-child {
  margin-bottom: 0;
}
.cosmo-theme footer .content--footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.cosmo-theme header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dadada;
  height: auto;
  padding-bottom: .5rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme header {
    height: 5rem;
    padding-bottom: 0;
  }
}
.cosmo-theme header .container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cosmo-theme header .logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: .5rem;
  margin-right: 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme header .logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
}
.cosmo-theme header .logo img {
  height: 5rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme header .logo img {
    width: auto;
  }
}
.cosmo-theme nav {
  border-top: 1px solid #dadada;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-right: 0;
  padding-top: 1.75rem;
  text-align: left;
}
@media only screen and (min-width: 480px) {
  .cosmo-theme nav {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .cosmo-theme nav {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    border-top: 0;
    margin-right: 0;
    text-align: right;
  }
}
.cosmo-theme nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.cosmo-theme nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 1.875rem;
}
.cosmo-theme nav ul li:last-child {
  margin-right: 0;
}
.cosmo-theme nav ul li a {
  color: #4a6067;
  display: block;
  font-weight: 400;
  min-height: 2.1rem;
}
.cosmo-theme nav ul li a:hover {
  color: #70c8c4;
}
.cosmo-theme .sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border: 0;
  font-size: .9rem;
  margin-bottom: 1.875rem;
  padding: 0;
  text-align: left;
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme .sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
    margin-right: 2.5%;
  }
}
.cosmo-theme .sidebar p {
  color: #4a6067;
  display: block;
  font-size: 1em;
  margin-bottom: 0.625rem;
}
.cosmo-theme .sidebar ul {
  padding-left: 0;
}
.cosmo-theme .sidebar ul li {
  display: block;
  line-height: 1;
  list-style: none;
  margin-bottom: 1.25rem;
  margin-right: 0;
  min-height: 0;
}
.cosmo-theme .sidebar ul li a {
  min-height: 0;
  text-align: left;
}
.cosmo-theme .sidebar ul li ul {
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}
.cosmo-theme .sidebar ul li ul li {
  display: inline-block;
  margin-right: 0.938rem;
}
.cosmo-theme .sidebar ul li ul li:last-child {
  margin-bottom: 0;
}
.cosmo-theme .sidebar .active {
  background-color: #f7f7f7;
  border-radius: 0.313rem;
  margin-top: 0;
  padding: 0.313rem 0.625rem;
}
.cosmo-theme .sidebar .active:hover {
  background-color: #f7f7f7;
  color: #4a6067;
  cursor: default;
}
@media (max-width: 1023px) {
  .cosmo-theme .sidebar .icon--bg-light-blue, .cosmo-theme .sidebar .icon--bg-dark-blue, .cosmo-theme .sidebar .content--w-sidebar .content-info, .cosmo-theme .content--w-sidebar .sidebar .content-info, .cosmo-theme .sidebar .content--wo-sidebar .content-info, .cosmo-theme .content--wo-sidebar .sidebar .content-info {
    text-align: left;
  }
  .cosmo-theme .sidebar .icon--bg-light-blue i, .cosmo-theme .sidebar .icon--bg-dark-blue i, .cosmo-theme .sidebar .content--w-sidebar .content-info i, .cosmo-theme .content--w-sidebar .sidebar .content-info i, .cosmo-theme .sidebar .content--wo-sidebar .content-info i, .cosmo-theme .content--wo-sidebar .sidebar .content-info i {
    display: none;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 480px) {
  .cosmo-theme .sidebar .icon--bg-light-blue i, .cosmo-theme .sidebar .icon--bg-dark-blue i, .cosmo-theme .sidebar .content--w-sidebar .content-info i, .cosmo-theme .content--w-sidebar .sidebar .content-info i, .cosmo-theme .sidebar .content--wo-sidebar .content-info i, .cosmo-theme .content--wo-sidebar .sidebar .content-info i {
    display: inline-block;
    font-size: .8rem;
    height: 2rem;
    margin-right: 1rem;
    padding: .65rem .5rem .65rem .7rem;
    width: 2rem;
  }
}
@media (max-width: 1023px) {
  .cosmo-theme .sidebar .icon--bg-light-blue p, .cosmo-theme .sidebar .icon--bg-dark-blue p, .cosmo-theme .sidebar .content--w-sidebar .content-info p, .cosmo-theme .content--w-sidebar .sidebar .content-info p, .cosmo-theme .sidebar .content--wo-sidebar .content-info p, .cosmo-theme .content--wo-sidebar .sidebar .content-info p {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 0;
  }
  .cosmo-theme .sidebar .icon--bg-light-blue p:last-child, .cosmo-theme .sidebar .icon--bg-dark-blue p:last-child, .cosmo-theme .sidebar .content--w-sidebar .content-info p:last-child, .cosmo-theme .content--w-sidebar .sidebar .content-info p:last-child, .cosmo-theme .sidebar .content--wo-sidebar .content-info p:last-child, .cosmo-theme .content--wo-sidebar .sidebar .content-info p:last-child {
    margin-right: 0;
  }
}
.cosmo-theme img {
  width: 100%;
}
.cosmo-theme img.img--xsml {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme img.img--xsml {
    width: 14%;
  }
}
.cosmo-theme img.img--sml {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme img.img--sml {
    width: 30%;
  }
}
.cosmo-theme img.img--med {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme img.img--med {
    width: 45%;
  }
}
.cosmo-theme img.img--lrg {
  margin-bottom: 0.938rem;
  margin-left: 0;
  -webkit-transition: .5s ease;
          transition: .5s ease;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme img.img--lrg {
    margin-left: -30%;
    width: 160%;
  }
}
.cosmo-theme img.img--half-round {
  border-radius: 2rem 0 2rem 0;
}
.cosmo-theme img.img--circle {
  border-radius: 100%;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme img.img--left {
    float: left;
    margin: .5rem 1.5rem 1.5rem 0;
    -webkit-transition: .5s ease;
            transition: .5s ease;
  }
}
@media only screen and (min-width: 768px) {
  .cosmo-theme img.img--right {
    float: right;
    margin: .5rem 0 1.5rem 1.5rem;
    -webkit-transition: .5s ease;
            transition: .5s ease;
  }
}
.cosmo-theme .caption {
  color: #858585;
  font-family: "quicksand", sans-serif;
  font-size: .9rem;
  font-style: italic;
  margin: .5rem 0 1rem 0;
  text-align: center;
}
.cosmo-theme .cs-gallery {
  clear: both;
  display: block;
  float: left;
  margin: 1.875rem 0;
  text-align: center;
  -webkit-transition: .5s ease;
          transition: .5s ease;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme .cs-gallery {
    margin-left: -14%;
    width: 128.5%;
  }
}
.cosmo-theme .cs-gallery img {
  float: left;
  margin: 0;
  -webkit-transition: .5s ease;
          transition: .5s ease;
  vertical-align: top;
  width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .cosmo-theme .cs-gallery img {
    width: 50%;
  }
  .cosmo-theme .cs-gallery img:nth-child(3n+3) {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme .cs-gallery img {
    min-height: 15rem;
    max-height: 15rem;
    opacity: .5;
    -webkit-transition: .5s ease .25s;
            transition: .5s ease .25s;
    width: 33%;
  }
  .cosmo-theme .cs-gallery img:hover {
    cursor: pointer;
    max-height: 30rem;
    opacity: 1;
    width: 66%;
  }
  .cosmo-theme .cs-gallery img:hover:last-child {
    max-height: 1000rem;
    width: 100%;
  }
}
.cosmo-theme .icon--bg-light-blue, .cosmo-theme .icon--bg-dark-blue, .cosmo-theme .content--w-sidebar .content-info, .cosmo-theme .content--wo-sidebar .content-info {
  text-align: center;
}
.cosmo-theme .icon--bg-light-blue i, .cosmo-theme .icon--bg-dark-blue i, .cosmo-theme .content--w-sidebar .content-info i, .cosmo-theme .content--wo-sidebar .content-info i {
  background-color: #70c8c4;
  border-radius: 100%;
  color: #f7f7f7;
  font-size: 2.5rem;
  height: 5rem;
  padding: 1.25rem;
  width: 5rem;
}
.cosmo-theme .icon--bg-light-blue p, .cosmo-theme .icon--bg-dark-blue p, .cosmo-theme .content--w-sidebar .content-info p, .cosmo-theme .content--wo-sidebar .content-info p {
  margin-top: 1.75rem;
}
.cosmo-theme .icon--bg-dark-blue i {
  background-color: #4a6067;
}
.cosmo-theme .content--bg-green {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.cosmo-theme .content--bg-green a {
  color: #20ba2c;
}
.cosmo-theme .content--bg-green h2, .cosmo-theme .content--bg-green p {
  color: #f7f7f7;
}
.cosmo-theme .content--bg-green h2 {
  border-bottom: 1px solid #20ba2c;
  padding-bottom: 1.25rem;
}
.cosmo-theme .content--border-right {
  border-bottom: 1px solid #f7f7f7;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.cosmo-theme .content--border-right:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .content--border-right {
    border-bottom: 0;
    border-right: 1px solid #f7f7f7;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
    margin-right: 2.5%;
    padding-bottom: 0;
    padding-right: 2.5%;
  }
  .cosmo-theme .content--border-right:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }
}
.cosmo-theme .content--border-right h4 {
  text-align: left;
}
.cosmo-theme .content--border-right p {
  font-size: 1.2rem;
  text-align: left;
}
.cosmo-theme .content--tabs {
  margin: 0 auto;
  margin-bottom: 1.875rem;
  text-align: center;
}
.cosmo-theme .content--tabs .button--blue-mid {
  margin: 0 0.625rem 0.625rem 0;
}
.cosmo-theme .content--w-media .description {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .content--w-media .description {
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    padding-right: 5%;
  }
}
.cosmo-theme .content--w-media .media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .content--w-media .media {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0;
  }
}
.cosmo-theme .content--w-media .media img {
  width: 100%;
}
.cosmo-theme .content--w-sidebar, .cosmo-theme .content--wo-sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme .content--w-sidebar, .cosmo-theme .content--wo-sidebar {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}
.cosmo-theme .content--w-sidebar .content-info, .cosmo-theme .content--wo-sidebar .content-info {
  text-align: left;
}
.cosmo-theme .content--w-sidebar .content-info i, .cosmo-theme .content--wo-sidebar .content-info i {
  display: none;
}
@media only screen and (min-width: 480px) {
  .cosmo-theme .content--w-sidebar .content-info i, .cosmo-theme .content--wo-sidebar .content-info i {
    display: inline-block;
    font-size: .8rem;
    height: 2rem;
    margin-right: 1rem;
    padding: .65rem .5rem .65rem .7rem;
    width: 2rem;
  }
}
.cosmo-theme .content--w-sidebar .content-info p, .cosmo-theme .content--wo-sidebar .content-info p {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0;
}
.cosmo-theme .content--w-sidebar .content-info p:last-child, .cosmo-theme .content--wo-sidebar .content-info p:last-child {
  margin-right: 0;
}
.cosmo-theme .content--wo-sidebar {
  margin: 0 auto;
  max-width: 57rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .content--wo-sidebar .content--border-right {
    margin-right: 5%;
    padding-right: 5%;
  }
  .cosmo-theme .content--wo-sidebar .content--border-right:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}
.cosmo-theme .header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1.875rem;
  text-align: center;
}
.cosmo-theme .rounded {
  border-radius: 0.313rem;
}
.cosmo-theme .code--sharing {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .code--sharing {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}
.cosmo-theme .code--preview {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .code--preview {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.cosmo-theme .add-on--title {
  color: #dadada;
}
.cosmo-theme .close {
  float: left;
  font-size: 2rem;
  text-align: right;
  width: 100%;
}
.cosmo-theme .close a {
  color: #dadada;
  -webkit-transition: .15s ease;
          transition: .15s ease;
}
.cosmo-theme .close a:hover {
  color: #858585;
}
.cosmo-theme .content-preview {
  background-color: #fdfdfd;
  border-radius: 0.313rem;
  padding: 0.938rem;
  width: 100%;
}
.cosmo-theme .content-preview:nth-child(even) {
  background-color: white;
}
.cosmo-theme .content-preview button {
  margin: 0 0.313rem 0.625rem 0;
}
.cosmo-theme .content-preview button:last-child {
  margin-right: 0;
}
.cosmo-theme .content-preview h4 {
  display: inline-block;
  margin-right: 0.625rem;
}
.cosmo-theme .content-preview i {
  font-size: .85rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .content-preview img {
    -webkit-transition: .25s ease-in-out .35s;
            transition: .25s ease-in-out .35s;
  }
  .cosmo-theme .content-preview img:hover {
    width: 100%;
  }
  .cosmo-theme .content-preview img:nth-child(even) {
    margin-right: 0;
  }
  .cosmo-theme .content-preview img:nth-child(1n+3) {
    margin-top: 0;
  }
}
.cosmo-theme .cplus {
  color: #ffd32c;
}
.cosmo-theme .cplus:hover {
  color: #ffd32c;
}
.cosmo-theme .fail {
  color: #ea1d2c;
}
.cosmo-theme .fail:hover {
  color: #ea1d2c;
}
.cosmo-theme .images {
  float: left;
}
.cosmo-theme .pass {
  color: #20ba2c;
}
.cosmo-theme .pass:hover {
  color: #20ba2c;
}
.cosmo-theme .screenshots {
  float: left;
  width: 100%;
}
.cosmo-theme .banner--lrg {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: center center no-repeat;
  background-size: cover;
  height: 100vh;
  letter-spacing: -.05rem;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .banner--lrg {
    background: center center no-repeat fixed;
    background-size: cover;
    height: 80vh;
  }
}
.cosmo-theme .banner--lrg p {
  color: #f7f7f7;
  font-size: 1.25rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .cosmo-theme .banner--lrg p {
    font-size: 2rem;
  }
}
.cosmo-theme .banner--lrg span {
  letter-spacing: .05rem;
}
.cosmo-theme .banner--lrg .container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.cosmo-theme .banner--lrg .download, .cosmo-theme .banner--lrg .github {
  background-color: #70c8c4;
  border: 0;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
  width: 100%;
}
.cosmo-theme .banner--lrg .download:hover, .cosmo-theme .banner--lrg .github:hover {
  background-color: #4a6067;
}
.cosmo-theme .banner--lrg .download:hover i, .cosmo-theme .banner--lrg .github:hover i {
  color: #70c8c4;
}
.cosmo-theme .banner--lrg .github {
  background-color: #dadada;
  color: #4a6067;
  margin-bottom: 0;
  margin-top: 1.25rem;
  width: 100%;
}
.cosmo-theme .banner--lrg .header h1 {
  color: #f7f7f7;
  text-align: left;
}
.cosmo-theme .banner--lrg .intro {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1.875rem;
  text-align: left;
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme .banner--lrg .intro {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin-bottom: 0;
  }
}
.cosmo-theme .banner--lrg .actions {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .cosmo-theme .banner--lrg .actions {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 5%;
  }
}
.cosmo-theme .banner--lrg .actions span {
  color: #f7f7f7;
}
.cosmo-theme .tooltip {
  display: inline;
  position: relative;
}
.cosmo-theme .tooltip:hover {
  color: #2b2827;
  cursor: default;
}
.cosmo-theme .tooltip:hover:before {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #70c8c4;
  border-top: 10px solid transparent;
  bottom: 1.25rem;
  content: "";
  left: 0.313rem;
  position: absolute;
  z-index: 10;
}
.cosmo-theme .tooltip:hover:after {
  background-color: #70c8c4;
  border-radius: 0.313rem;
  bottom: 1.75rem;
  color: #f7f7f7;
  content: attr(tooltip);
  font-size: .9rem;
  font-weight: 200;
  left: -6rem;
  padding: 0.625rem 0.938rem;
  position: absolute;
  width: 12rem;
  z-index: 100;
}
.cosmo-theme code {
  background-color: #f7f7f7;
  border-radius: 0 0 0.313rem 0.313rem;
  color: #2b2827;
  display: block;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: .85em;
  font-weight: 400;
  line-height: 2;
  padding: 0.625rem;
}

/*# sourceMappingURL=style.minify.css.map */