<section class="features--1-up">
    <div class="container">
        <div class="features--buttons">
            <button ng-class="{active: panel=='panel1'}" ng-init="panel='panel1'" ng-click="panel='panel1'">Live Editing</button>
            <button ng-class="{active: panel=='panel2'}" ng-click="panel='panel2'">Responsive Images</button>
            <button ng-class="{active: panel=='panel3'}" ng-click="panel='panel3'">Web App</button>
            <button ng-class="{active: panel=='panel4'}" ng-click="panel='panel4'">Version Control</button>
            <button ng-class="{active: panel=='panel5'}" ng-click="panel='panel5'">Insert Directives</button>
        </div>
    </div>
    <div class="container" ng-show="panel=='panel1'">
        <h4><strong>Live</strong> Editing</h4>
        <div class="description">
            <p>Editing the content on your website shouldn’t require menus, submenus and "previews" of your webpage, instead it should be a fluid and live editing experience. Cosmo allows you to not only edit text, but insert images, galleries, videos and even blocks of html code directly into your site.</p>
            <p>Editable regions on your site can be controlled by the developer to have specific areas for editing to help control the design and continuity, or allow the user to input html visually into the site, allowing them to build out pages with custom layouts live on the site.</p>
        </div>
        <div class="screenshot">
            <img src="img/live-editing.gif">
        </div>
    </div>

    <div class="container" ng-show="panel=='panel2'">
        <h4><strong>Responsive</strong> Images</h4>
        <div class="description">
            <p>Image handling shouldn’t be difficult or frustrating. It should just work, and continue to work when you hand it off to your client. Cosmo takes out the guess work of responsive images and allows you to upload images up to 5mb, will automatically resize the image into 4 sizes - 2048px (retina displays), 1024px, 512px and 320px and use the correct image for the correct device.</p>
        </div>
        <div class="screenshot">
            <img src="img/responsive-images.png">
        </div>
    </div>

    <div class="container" ng-show="panel=='panel3'">
        <h4><strong>Web</strong> App</h4>
        <div class="description">
            <p>With AngularJS being at the core of cosmo,  every installation becomes a single page web "app". This allows for faster page loads by only fetching the content that's been updated on a page, no more need to re-load things like html and javascript. Being a single page app also allows for transitions, allowing your page to fade in/out or slide in/out much like on mobile apps. </p>
            <p>Prefetching also is built directly into the site. This allows the website to begin loading content that the user will be heading towards, to help load times and create less interruptions for the user</p>
        </div>
        <div class="screenshot">
            <img src="img/page-transition.gif">
        </div>
    </div>

    <div class="container" ng-show="panel=='panel4'">
        <h4><strong>Version</strong> Control</h4>
        <div class="description">
            <p>Revisions to a document shouldn't be a guessing game. With cosmo you can quickly and easily tell who and when the document was edited, whether it's published along with the ability to see the exact deletions and additions made since the previous save. </p>
            <p>If you're familiar with a github or other git based systems you'll be right at home, seeing deletions marked in red, and additions marked in green. Add new code to the page? Not a problem, the revision manager will mark any new additions or deletions of code to the page as well.</p>
        </div>
        <div class="screenshot">
            <img src="img/revisions.jpg">
        </div>
    </div>

    <div class="container" ng-show="panel=='panel5'">
        <h4><strong>Insert</strong> Directives</h4>
        <div class="description">
            <p>No more need to remember shortcodes or any code at all. Now you can insert a block of interactive html within cosmo's WYSIWYG editor. Simply input the information needed and it will generate the HTML for you. </p>
            <p>Directives can be set by the developer to feed blog posts, insert divs & even insert google maps.</p>
        </div>
        <div class="screenshot">
            <img src="img/map-directive.gif">
        </div>
    </div>
</section>
