<header class="container">
    <div class="logo">
        <img cs-logo>
    </div>

    <nav ng-show="showNav">
        <a ng-click="showNav=!showNav"><i class="fa fa-times"></i></a>
        <ul cs-menu="primary"></ul>
    </nav>

    <div class="social">
        <a href="https://www.github.com/cosmocms"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/cosmocms"><i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com/cosmocms"><i class="fa fa-twitter"></i></a>
    </div>

    <a ng-click="showNav=!showNav"><i class="fa fa-bars"></i></a>

</header>
