<section class="features--3-up">
    <div class="container">
        <div class="feature">
            <div cs-content="firstIcon"></div>
            <h4 cs-content="firstHeader"></h4>
            <p cs-content="firstText"></p>
        </div>
        <div class="feature">
            <div cs-content="secondIcon"></div>
            <h4 cs-content="secondHeader"></h4>
            <p cs-content="secondText"></p>
        </div>
        <div class="feature">
            <div cs-content="thirdIcon"></div>
            <h4 cs-content="thirdHeader"></h4>
            <p cs-content="thirdText"></p>
        </div>
    </div>
</section>
