<section class="bg-gray--xlight">
    <div class="container pad-vert">
        <div class="content--border-right">
            <div class="icon--bg-light-blue">Icon 1</div>
            <h4>Header 1</h4>
            <p>Text 1</p>
        </div>
        <div class="content--three-up">
            <div class="icon--bg-light-blue">Icon 2</div>
            <h4>Header 2</h4>
            <p>Text 2</p>
        </div>
        <div class="content--three-up">
            <div class="icon--bg-light-blue">Icon 3</div>
            <h4>Header 3</h4>
            <p>Text 3</p>
        </div>
    </div>
</section>
