%button {
    background-color: transparent;
    border: 1px solid palette(blue, dark);
    border-radius: size(5);
    color: palette(blue, dark);
    display: block;
    font-family: $font-alpha;
    font-weight: 400;
    margin: 0 auto;
    outline: none;
    padding: size(20) size(30);
    text-align: center;
    transition: all .15s ease-in;

    i {
        color: palette(blue, dark);
        margin-right: .5rem;
    }

    &:focus {
        color: palette(gray, white);
    }

    &:hover {
        color: palette(gray, light);
    }
}

.button--blue-mid {
    @extend %button;
    border: 1px solid palette(blue, mid);
    color: palette(blue, mid);
    display: inline-block;
    padding: size(10) size(20);
    width: 100%;

    @media #{$bp-alpha} {
        width: auto;
    }

    &:focus {
        background-color: palette(blue, dark);
    }

    &:hover {
        background-color: palette(blue, light);
        border: 1px solid palette(blue, light);
        color: palette(gray, light);
    }

    &.active {
        background-color: palette(blue, dark);
        border: 1px solid palette(blue, dark);
        color: palette(gray, light);

        &:hover {
            background-color: palette(blue, dark);
            border: 1px solid palette(blue, dark);
            cursor: default;
        }
    }
}

.button--blue-dark {
    @extend %button;
    color: palette(blue, dark);
    display: inline-block;

    &:hover {
        background-color: palette(blue, light);
        border: 1px solid palette(blue, mid);
    }
}
