button {
    background-color: palette(blue, light);
    color: palette(gray, white);
    display: block;
    font-family: $font-alpha;
    font-weight: 400;
    outline: none;
    padding: size(20) size(30);
    text-align: center;
    transition: all .15s ease-in;

    i {
        margin-right: .5rem;
    }

    &:focus {
        color: palette(gray, white);
    }

    &:hover {
        background-color: palette(blue, dark);
        color: palette(gray, light);
    }
}

.button {
    @extend button;

    @media #{$bp-beta} {
        display: inline-block;
    }

    @media #{$bp-gamma} {
        display: block;
    }
}

.button2 {
    @extend button;
    background-color: palette(gray, light);
    color: palette(blue, dark);

    &:hover {
        background-color: palette(blue, dark);
        color: palette(gray, light);
    }

    @media #{$bp-beta} {
        display: inline-block;
    }

    @media #{$bp-gamma} {
        display: block;
    }
}
