/* colors */
$colors: (
    gray: (
        xlight: rgba(253, 253, 253, 1),
        light: rgba(247, 247, 247, 1),
        mid--light: rgba(218, 218, 218, 1),
        mid: rgba(133, 133, 133, 1),
        mid--dark: rgba(70, 70, 70, 1),
        dark: rgba(43, 40, 39, 1),
        dark--two-third: rgba(43, 40, 39, .75),
        black: rgba(0, 0, 0, 1),
        white: rgba(255, 255, 255, 1),
        white--half: rgba(255, 255, 255, .5),
    ),

    blue: (
        light: rgba(112, 200, 196, 1),
        light-mid: rgba(203, 215, 218, 1),
        mid: rgba(69, 158, 155, 1),
        dark: rgba(74, 96, 103, 1),
        xdark: rgba(34, 31, 66, 1),
        dark--two-third: rgba(74, 96, 103, .75),
    ),

    brand: (
        red: rgba(234, 29, 44, 1),
        green: rgba(32, 186, 44, 1),
        green--light: rgba(109, 213, 149, 1),
        yellow: rgba(255, 211, 44, 1),
        yellow-light: rgba(215, 236, 103, 1),
    ),
);

@function palette($palette, $tone: 'base') {
    @return map-get(map-get($colors, $palette), $tone);

    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}


::selection {
       background-color: palette(brand, red);
       color: palette(gray, white);
}

.bg-blue--light {
    background-color: palette(blue, light);

    p, h1, h2, h3, h4, h5, h6 {
        color: palette(gray, light);
    }

    a {
        color: palette(blue, mid);

        &:hover {
            color: palette(blue, dark);
        }
    }
}

.bg-blue--dark {
    background-color: palette(blue, dark);

    p, h1, h2, h3, h4, h5, h6 {
        color: palette(gray, light);
    }
}

.bg-gray--xlight {
    background-color: palette(gray, xlight);
}

.bg-gray--light {
    background-color: palette(gray, light);
}

.bg-green {
    background-color: palette(brand, green);
}

.bg-green--light {
    background-color: palette(brand, green--light);
}
