footer {

    a {
        color: palette(brand, red);

        &:hover {
            color: palette(blue, light);
        }
    }

    img {
        display: inline-block;
        margin-bottom: -.4rem;
        width: 5rem;
    }

    i.fa-facebook, i.fa-twitter, i.fa-envelope {
        margin: 0 .5rem;
    }

    p {
        color: palette(gray, mid);
        font-size: .85rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .content--footer {
        flex: 1;
        padding: 2rem 0;
        text-align: center;
    }
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 1rem 0;

    a {
        color: palette(blue, dark);
        flex: $col-one;
        font-size: 1.5rem;
        padding-bottom: 0;
        text-align: right;

        &:hover {
            color: palette(blue, light);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .logo {
        flex: $col-six;
        text-align: left;

        @media #{$bp-beta} {
            flex: 1;
        }

        img {
            height: 5rem;
            width: auto;
        }
    }
}

nav {
    background-color: palette(blue, dark);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: z(sidebar);

    @media #{$bp-alpha} {
        width: 20rem;
    }

    a {
        color: palette(gray, white);
        flex: $col-twelve;
        font-size: 1rem;
        margin-left: 1rem;
        text-align: left;
    }

    ul {
        flex: $col-twelve;
        list-style: none;
        margin-left: 1rem;
        max-width: 15rem;
        padding: 0;

        li {
            flex: $col-twelve;
            margin: 0;
            padding: .5rem 0;

            a {
                color: palette(gray, white);
                font-size: 1rem;

                &:hover {
                    color: palette(blue, light);
                }
            }

            ul {
                height: auto;
                margin-left: 0;

                li {
                    padding-left: 1rem;
                }
            }
        }
    }
}

nav.ng-hide-add.ng-hide-add-active,
nav.ng-hide-remove.ng-hide-remove-active {
  transition: all linear 0.15s;
}

nav.ng-hide {
  right: -100%;

  @media #{$bp-gamma} {
      right: -20rem;
  }
}

.social {
    flex: $col-four;
    margin-right: 1rem;
    text-align: right;

    @media #{$bp-beta} {
        flex: $col-two;
    }

    a {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    i {
        font-size: 1.1rem;
    }
}

.sidebar {
    background-color: #E4EAEC;
    flex: $col-twelve;

    @media #{$bp-alpha} {
        flex: 2;
    }

    @media #{$bp-gamma} {
        flex: 1;
    }
}

.sidebar ul {
    margin: 0;
    padding: 0;

    @media #{$bp-beta} {
        padding: 0 2rem;
    }

    li {
        background-color: transparent;
        line-height: 1;
        list-style: none;
        margin-bottom: 0;
        padding: size(15);

        a {
            text-align: left;
        }

        ul {
            margin-top: size(15);
            padding: 0;
        }
    }

}
