/* fonts */
$font-alpha: 'quicksand', sans-serif;
$font-beta: 'FontAwesome';

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

* {
    box-sizing: border-box;
}

a, button {
    outline: none;
}

a {
    color: palette(blue, light);
    font-weight: 400;
    text-decoration: none;
    transition: .025s ease-in;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        color: palette(blue, mid);
        cursor: pointer;
    }
}

b {
    font-weight: 400;
}

blockquote {
    border-left: 2px solid palette(gray, mid);
    color: palette(gray, mid);
    font-family: $font-alpha;
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.5;
    margin: size(15) 0 size(15) size(15);
    padding: size(25) 1.5rem;
}

button {
    border: 0;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p, a, b {
    font-family: $font-alpha;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 2.5rem;

    @media #{$bp-beta} {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 1.5;

    @media #{$bp-beta} {
        font-size: 3rem;
    }
}

h3 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1.25rem;
    margin-top: 0;

    @media #{$bp-beta} {
        font-size: 2.5rem;
    }
}

h4 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 1rem 0;

    @media #{$bp-beta} {
        font-size: 2rem;
    }
}

h5 {
    color: palette(gray, dark);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin: size(30) 0 size(20) 0;
}

h6 {
    background-color: palette(blue, light);
    border-bottom: 1px solid palette(blue, mid);
    border-radius: size(5) size(5) 0 0;
    color: palette(gray, light);
    clear: both;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: size(10);
}

p {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 0;

    @media #{$bp-beta} {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}

small {
    font-size: 85%;
}

input {
    font-family: $font-alpha;
    font-weight: 200;

    &:focus {
        outline: none;
    }
}

hr {
    border-bottom: 1px solid palette(gray, mid--light);
    border-left: none;
    border-right: none;
    border-top: none;
}

::selection {
       background-color: palette(gray, light);
       color: palette(gray, dark);
}
