$font-alpha: quicksand, sans-serif;

body {
    color: palette(gray, dark);
    font-family: $font-alpha;
    height: 100%;
    letter-spacing: -.025rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 2.75em;

    @media #{$bp-beta} {
        font-size: 3em;
    }

    @media #{$bp-gamma} {
        font-size: 4.5em;
    }
}

h2 {
    font-size: 2.25em;

    @media #{$bp-beta} {
        font-size: 2.75em;
    }

    @media #{$bp-gamma} {
        font-size: 3em;
    }
}

h3 {
    font-size: 2em;

    @media #{$bp-beta} {
        font-size: 2.25em;
    }

    @media #{$bp-gamma} {
        font-size: 2.5em;
    }
}

h4 {
    font-size: 1.5em;

    @media #{$bp-beta} {
        font-size: 1.75em;
    }

    @media #{$bp-gamma} {
        font-size: 2em;
    }
}

p {
    font-size: 1.1em;
    letter-spacing: -.025rem;
}

small {
    font-size: 85%;
}

a, button {
    outline: none;
}

button {
    border: 0;
}

a {
    text-decoration: none;

    &:active, &:focus {
        outline: none;
    }
}

hr {
    border-bottom: 1px solid palette(gray, light-mid);
    border-left: none;
    border-right: none;
    border-top: none;
}
