.article-row {
    @include container;
    border-bottom: 1px solid palette(gray, mid--light);
    margin-top: 2rem;
    padding-bottom: 2rem;

    h1 {
        font-size: 1.5rem;
        margin-top: 1.5rem;

        @media #{$bp-beta} {
            margin-bottom: .4rem;
            margin-top: 0;
            font-size: 1.8rem;
        }
    }

    p {
        line-height: 1.5;
        margin-bottom: 0;

        @media #{$bp-beta} {
            font-size: 1rem;
        }
    }
}

.article--one {
    padding: 0 4%;

    @media #{$bp-epsilon} {
        padding: 0;
    }
}

.article--img-side {
    @include span(12 of 12 inside);
    background: center center no-repeat;
    background-size: cover;
    height: 8rem;
    margin-bottom: 1.5rem;

    @media #{$bp-alpha} {
        height: 12rem;
    }

    @media #{$bp-beta} {
        @include span(4 of 12 before);
        height: 14rem;
        margin: 0 2rem 0 0;
    }

    @media #{$bp-epsilon} {
        @include span(4 of 12 after);
    }
}
