.banner--lrg {
    @include center;
    background: center center no-repeat;
    background-size: cover;
    height: 100vh;
    letter-spacing: -.05rem;

    @media #{$bp-beta} {
        background: center center no-repeat fixed;
        background-size: cover;
        height: 80vh;
    }

    p {
        color: palette(gray, light);
        font-size: 1.25rem;
        margin-bottom: 0;

        @media #{$bp-beta} {
            font-size: 2rem;
        }
    }

    span {
        letter-spacing: .05rem;
    }

    .container {
        align-items: center;
        margin: auto;
    }

    .download {
        @extend %button;
        background-color: palette(blue, light);
        border: 0;
        color: palette(gray, white);
        font-size: 1.1rem;
        margin-bottom: size(20);
        width: 100%;

        &:hover {
            background-color: palette(blue, dark);

            i {
                color: palette(blue, light);
            }
        }
    }

    .github {
        @extend .download;
        background-color: palette(gray, mid--light);
        color: palette(blue, dark);
        margin-bottom: 0;
        margin-top: size(20);
        width: 100%;
    }

    .header {
        flex: $col-twelve;
        
        h1 {
            color: palette(gray, light);
            text-align: left;
        }
    }



    .intro {
        flex: $col-twelve;
        margin-bottom: size(30);
        text-align: left;

        @media #{$bp-gamma} {
            flex: 3;
            margin-bottom: 0;
        }
    }

    .actions {
        flex: $col-twelve;
        text-align: center;

        @media #{$bp-gamma} {
            flex: 1;
            margin-left: 5%;
        }

        span {
            color: palette(gray, light);
        }
    }
}
