.banner--lrg {
    @include center;
    background-position: bottom;
    background-size: cover;
    flex: $col-twelve;
    min-height: 50vh;
    padding: 2rem;

    .intro {
        flex: $col-twelve;
        margin-bottom: size(30);
        text-align: left;

        h1 {
            color: palette(gray, white);
            text-align: left;
        }

        p {
            color: palette(gray, white);
        }

        @media #{$bp-beta} {
            flex: 2;
            margin-bottom: 0;
        }
    }

    .actions {
        flex: $col-twelve;
        text-align: center;

        @media #{$bp-beta} {
            flex: 1;
            margin-left: 5%;
        }

        button {
            width: 100%;
        }

        span {
            color: palette(gray, dark);
            display: block;
            margin: .5rem;
        }
    }
}

.banner--sml {
    @extend .banner--lrg;
    background-color: palette(blue, dark);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;

    .intro {
        text-align: center;

        h1 {
            color: palette(gray, light);
            text-align: center;
        }

        p {
            color: palette(gray, light);
        }
    }
}
