.content--bg-green {
    flex: 1;
    text-align: center;

    a {
        color: palette(brand, green);
    }

    h2, p {
        color: palette(gray, light);
    }

    h2 {
        border-bottom: 1px solid palette(brand, green);
        padding-bottom: size(20);
    }
}

.content--border-right {
    flex: 0 0 100%;
    padding: 5% 0;

    h4 {
        text-align: center;

        @media #{$bp-gamma} {
            display: inline-block;
        }
    }

    i {
        color: palette(gray, xlight);
        display: block;
        font-size: 3rem;
        margin-right: .5rem;
        opacity: .5;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        @media #{$bp-gamma} {
            display: inline-block;
            text-align: center;
            width: 3.7rem;
        }
    }

    p {
        @media #{$bp-gamma} {
            margin-left: 4.4rem;
        }
    }

    .no-marg {
        margin: 0;
    }

    @media #{$bp-beta} {
        flex: 1;
        padding: 0 5%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &.marg-bottom {

        @media #{$bp-beta} {
            margin-bottom: 3rem;
        }
    }
}

.content--tabs {
    margin: 0 auto;
    margin-bottom: size(30);
    text-align: center;

    .button--blue-mid {
        margin: 0 size(10) size(10) 0;
    }
}

.content--w-media {

    .description {
        flex: $col-twelve;

        @media #{$bp-beta} {
            flex: .75;
        }

        h4 {
            margin-top: 0;
        }
    }

    .pad-left {
        @media #{$bp-beta} {
            padding-left: 4rem;
        }
    }

    .pad-right {
        @media #{$bp-beta} {
            padding-right: 4rem;
        }
    }

    .media {
        flex: $col-twelve;
        padding: 0;

        @media #{$bp-beta} {
            flex: 1;
            margin-right: 0;
        }

        img {
            width: 100%;
        }
    }
}

.content--w-sidebar {
    flex: $col-twelve;

    @media #{$bp-gamma} {
        flex: 5;
    }

    hr {
        margin-bottom: 4rem;
    }

    .content-info {
        text-align: left;

        i {
            display: none;
        }

        p {
            display: inline-block;
            font-size: .85rem;
            margin-right: 1rem;
            margin-top: 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.content--wo-sidebar {
    @extend .content--w-sidebar;
    margin: 0 auto;
    max-width: 57rem;

    .content--border-right {

        @media #{$bp-beta} {
            margin-right: 5%;
            padding-right: 5%;

            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.header {
    flex: $col-twelve;
    margin-bottom: size(30);
    text-align: center;
}

.rounded {
    border-radius: size(5);
}

.code--sharing {
    flex: $col-twelve;
    margin-bottom: size(20);

    @media #{$bp-beta} {
        flex: 3;
    }
}

.code--preview {
    flex: $col-twelve;
    margin-bottom: size(20);

    @media #{$bp-beta} {
        flex: 1;
    }
}
