.docs {
    background-color: palette(gray, xlight);
    padding: size(30) 0;
}

.docs-view {
    @include span(12 of 12 inside);
    padding: 0;

    @media #{$bp-gamma} {
        @include span(10 of 12 after);
        margin-right: 0;
    }

    h4 {
        color: palette(gray, dark);
        line-height: 1;
        margin-bottom: size(20);
    }
}
