.container--flex {
    display: flex;
    flex-wrap: wrap;

    .center {
        min-height: 20rem;
    }
}

.content-preview {
    background: center center no-repeat;
    background-color: palette(blue, light);
    background-size: cover;
    flex: $col-twelve;
    padding: size(15);
    position: relative;
    text-align: center;

    @media #{$bp-beta} {
        flex: $col-six;
    }

    @media #{$bp-gamma} {
        flex: $col-four;
    }

    h4 {
        color: palette(gray, xlight);
    }

    &:hover {
        .content-preview--hover {
            display: block;
            opacity: 1;
        }
    }
}

.content-preview .content-preview--hover {
    background-color: palette(blue, dark--two-third);
    display: none;
    padding: size(15);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    transition: opacity .15s linear;
    width: 100%;

    .button--blue-mid {
        color: palette(gray, xlight);
        display: block;
        margin: 1rem 0;

        i {
            color: palette(blue, light);
            margin-right: .5rem;
        }

        &:hover {

            i {
                color: palette(blue, dark);
            }
        }
    }

    &.container {
        justify-content: flex-start;
    }

    p {
        color: palette(gray, xlight);
        height: 7rem;
        flex: 0 0 100%;
    }
}
