.content--tabs {
    margin: 0 auto;
    margin-bottom: size(30);
    text-align: center;

    .button--blue-mid {
        margin: 0 size(10) size(10) 0;
    }
}

.content--w-media {

    .description {
        flex: $col-twelve;

        @media #{$bp-beta} {
            flex: 1.5;
            padding-right: 5%;
        }
    }

    .media {
        flex: $col-twelve;
        padding: 0;

        @media #{$bp-beta} {
            flex: 1;
            margin-right: 0;
        }

        img {
            width: 100%;
        }
    }
}

.content--border-right {
    border-bottom: 1px solid palette(gray, light);
    flex: 0 0 100%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    text-align: center;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    @media #{$bp-beta} {
        border-bottom: 0;
        border-right: 1px solid palette(gray, light);
        flex: 1;
        margin-bottom: 0;
        margin-right: 2.5%;
        padding-bottom: 0;
        padding-right: 2.5%;

        &:last-child {
            border-right: 0;
            margin-right: 0;
            padding-right: 0;
        }
    }

    p {
        font-size: 1.2rem;
    }
}

.icon--bg-light-blue {
    text-align: center;

    i {
        background-color: palette(blue, light);
        border-radius: 100%;
        color: palette(gray, light);
        font-size: 2.5rem;
        height: 5rem;
        padding: size(20);
        width: 5rem;
    }

    p {
        margin-top: 1.75rem;
    }
}

.header {
    flex: 1;
    margin-bottom: size(30);
    text-align: center;
}

.content--bg-green {
    flex: 1;
    text-align: center;

    a {
        color: palette(brand, green);
    }

    h2, p {
        color: palette(gray, light);
    }

    h2 {
        border-bottom: 1px solid palette(brand, green);
        padding-bottom: size(20);
    }
}
