// modified select style dropdown wrap standard <select> with <div class="cos-select"> to add the style
.cos-select {
	background: url(../img/arrows.svg) no-repeat palette(gray, light) right;
	background-size: 2.25rem size(15);
	border: 1px solid palette(gray, mid--light);
	box-sizing: border-box;
	color: palette(blue, dark);
	cursor: pointer;
	font-family: $font-alpha;
	height: 3rem;
	margin-bottom: size(20);
	outline: 0;
	padding-left: .838rem;
	width: 100%;

	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background: none;
		border: 0;
		cursor: pointer;
		height: 3rem;
		line-height: 1;
		outline: 0;
		padding-left: 0;
		width: 100%;
	}
}
