

.featured-highlight--single {
    background-color: palette(brand, green-light);

    .container {
        padding: 3rem 2rem;
        text-align: center;

        h2 {
            border-bottom: 5px solid palette(brand, green);
            color: palette(gray, light);
            display: inline-block;
            font-weight: 300;
            margin-bottom: 0;
            padding: 1rem;
        }

        p {
            color: palette(gray, light);
            font-size: 1.5em;
        }
    }
}
