.banner {
    background-color: palette(blue, light);
    letter-spacing: -.05rem;
    padding: 2rem;
    text-align: center;

    @media #{$bp-beta} {
        padding: 5rem;
    }

    button {
        @extend %button;
        border: 1px solid palette(gray, white);
        color: palette(gray, white);

        i {
            color: palette(gray, white);
        }

        &:hover {
            background-color: palette(brand, red);
            border-color: palette(blue, light);
        }
    }

    h1 {
        color: palette(gray, white);
        display: inline-block;
        font-weight: 400;
        line-height: 1.25;
        margin: 0;
    }

    p {
        color: palette(gray, white);
        display: inline-block;
    }

    .download {
        background-color: palette(blue, dark);
        border-color: palette(blue, light);
        color: palette(gray, white);

        &:hover {
            background-color: palette(brand, red);
        }
    }

    .hide {
        display: none;

        @media #{$bp-beta} {
            display: inline-block;
        }
    }

    .highlight {
        color: palette(blue, dark);
        font-weight: 600;
    }

    .overview {
        color: palette(gray, white);
        font-weight: 400;
        font-size: 1.35em;
        margin-top: 0;

        @media #{$bp-beta} {
            font-size: 1.5em;
        }

        @media #{$bp-gamma} {
            font-size: 2em;
        }
    }

    .sub {
        color: palette(blue, mid);
        display: inline-block;
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 1rem;

        @media #{$bp-alpha} {
            margin-bottom: 0;
        }
    }
}

.feature-highlight--3 {
    background-color: palette(gray, white);
    display: flex;
    padding: 1rem .5rem;

    .feature {
        @include span(12 of 12 inside);
        padding: 2rem;

        @media #{$bp-beta} {
            @include span(4 of 12 after);
            border-right: 1px solid palette(gray, light);
            height: 23rem;

            &:last-child {
                border-right: 0;
                margin-right: 0;
            }
        }

        @media #{$bp-gamma} {
            height: 20rem;
        }

        h4 {
            color: palette(blue, dark);
            display: inline-block;
            font-weight: 600;
            margin-bottom: 0;
        }

        h4.highlight {
            display: inline-block;
            font-weight: 400;
        }

        i {
            color: palette(blue, dark);
            display: block;
            font-size: 3.5em;
            text-align: center;
        }

        p {
            color: palette(blue, dark);
        }
    }
}

.featured-highlight--single {
    background-color: palette(brand, green-light);

    .container {
        padding: 3rem 2rem;
        text-align: center;

        h2 {
            border-bottom: 5px solid palette(brand, green);
            color: palette(gray, light);
            display: inline-block;
            font-weight: 300;
            margin-bottom: 0;
            padding: 1rem;
        }

        p {
            color: palette(gray, light);
            font-size: 1.5em;
        }
    }
}

.featured-highlight--wide-left {
    background-color: palette(blue, dark);
    overflow: hidden;

    h4 {
        color: palette(gray, light);
        display: inline-block;
        font-weight: 600;
        margin-bottom: 0;
    }

    h4.highlight {
        display: inline-block;
        font-weight: 400;
    }

    p {
        color: palette(gray, light);
    }

    .description {
        @include span(12 of 12 inside);
        padding: 2rem;

        @media #{$bp-beta} {
            @include span(6 of 12 after);
            margin-right: 0;
            padding: 6rem 1rem 4rem 0;
        }
    }

    .screenshot {
        @include span(12 of 12 inside);
        padding: 0;

        @media #{$bp-beta} {
            @include span(6 of 12 after);
            overflow: hidden;
        }

        img {
            width: 100%;

            @media #{$bp-beta} {
                bottom: -6.5rem;
                height: 34rem;
                max-height: 100%;
                position: relative;
                width: auto;
            }
        }
    }
}

.featured-highlight--wide-right {
    @extend .featured-highlight--wide-left;
    background-color: palette(gray, mid-light);

    h4 {
        color: palette(blue, dark);
    }

    p {
        color: palette(blue, dark);
    }

    .description {
        padding: 6rem 1rem 0 1rem;

        @media #{$bp-beta} {
            padding-bottom: 4rem;
        }
    }

    .screenshot {

        img {
            height: auto;
            bottom: 0;
            box-shadow: 3px 3px 5px 6px palette(gray, mid-ccc);
            max-height: 100%;
            width: 100%;

            @media #{$bp-beta} {
                padding-top: 6.5rem;
            }
        }
    }
}
