.search {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid palette(gray, mid--light);
    font-size: 2rem;
    margin-bottom: size(30);
    padding: size(10) size(10) size(10) 0;
    width: 100%;
}
