.content {
    background-color: palette(gray, xlight);
    padding: size(30) 0;
}

.content--view {
    @include span(12 of 12 inside);
    padding: 0;

    @media #{$bp-gamma} {
        @include span(10 of 12 after);
        margin-right: 0;
    }

    h4 {
        color: palette(gray, dark);
        line-height: 1;
        margin-bottom: size(20);
    }

    img {
        margin: size(5) 0;

        @media #{$bp-beta} {
            margin: size(20) 0;
        }
    }
}

.content-preview {
    background-color: palette(gray, light);
    border-radius: size(5);
    float: left;
    padding: size(15);
    width: 100%;

    &:nth-child(even) {
        background-color: palette(gray, xlight);
    }

    a {
        letter-spacing: .025em;
    }

    h4 {
        display: inline-block;
        font-size: 1.15em;
        margin-right: size(10);

        @media #{$bp-beta} {
            font-size: 1.25em;
        }
    }

    i {
        font-size: .85em;
    }

    img {

        @media #{$bp-beta} {
            @include span(6 of 12 after);
            transition: .25s ease-in-out .35s;

            &:hover {
                width: 100%;
            }

            &:nth-child(even) {
                margin-right: 0;
            }

            &:nth-child(1n+3) {
                margin-top: 0;
            }
        }
    }
}


.cta {
    background-color: transparent;
    border: 1px solid palette(blue, dark);
    border-radius: size(5);
    color: palette(blue, dark);
    display: inline-block;
    font-size: .85em;
    margin: 0 size(5) size(10) 0;
    padding: size(10) size(10);
    transition: .1s ease;

    &:hover {
        background-color: palette(blue, light);
        border: 1px solid palette(blue, mid);
        color: palette(gray, light);
    }

    &:last-child {
        margin-right: 0;
    }
}

.fail {
    color: palette(brand, red);

    &:hover {
        color: palette(brand, red);
    }
}

.close {
    float: left;
    font-size: 2em;
    text-align: right;
    width: 100%;

    a {
        color: palette(gray, mid--light);
        transition: .15s ease;

        &:hover {
            color: palette(gray, mid);
        }
    }
}

.cplus {
    color: palette(brand, yellow);

    &:hover {
        color: palette(brand, yellow);
    }
}

.images {
    float: left;
}

.pass {
    color: palette(brand, green);

    &:hover {
        color: palette(brand, green);
    }
}

.screenshots {
    float: left;
    width: 100%;
}


.add-on--title {
    color: palette(gray, mid--light);
    font-weight: 600;
}
