.content {
    background-color: palette(gray, xlight);
    padding: size(30) 0;
}

.content--view {
    @include span(12 of 12 inside);
    padding: 0;

    @media #{$bp-gamma} {
        @include span(10 of 12 after);
        margin-right: 0;
    }

    a {
        font-weight: 600;
    }

    h4 {
        color: palette(gray, dark);
        font-size: 1.75rem;
    }
}

.content-no-sidebar--view {
    @extend .content--view;
    float: none;
    margin: 0 auto;
}

.content-preview {
    background-color: palette(gray, light);
    border-radius: size(5);
    padding: size(15);
    width: 100%;

    &:nth-child(even) {
        background-color: palette(gray, xlight);
    }

    a {
        letter-spacing: .025rem;
    }

    h4 {
        display: inline-block;
        font-size: 1.15rem;
        margin-right: size(10);

        @media #{$bp-beta} {
            font-size: 1.25rem;
        }
    }

    i {
        font-size: .85rem;
    }

    img {

        @media #{$bp-beta} {
            @include span(6 of 12 after);
            transition: .25s ease-in-out .35s;

            &:hover {
                width: 100%;
            }

            &:nth-child(even) {
                margin-right: 0;
            }

            &:nth-child(1n+3) {
                margin-top: 0;
            }
        }
    }
}

.container--left-sml {
    @include span(12 of 12 after);
    margin-right: 0;

    @media #{$bp-beta} {
        @include span(3 of 12 after);
        margin-bottom: size(20);
    }
}

.container--right-lrg {
    @include span(12 of 12 after);
    margin-right: 0;

    @media #{$bp-beta} {
        @include span(9 of 12 after);
        margin-bottom: size(20);
        margin-right: 0;
    }
}

.row {
    @include span(12 of 12 after);
    margin: 0;
}

.row--blue {
    @include span(12 of 12 inside);
    background-color: palette(blue, dark);
    border-radius: size(5);
    color: palette(gray, light);
    margin: size(30) 0;
    padding: 1rem;

    @media #{$bp-beta} {
        padding: 4rem;
    }

    a {
        color: palette(blue, light);
    }

    h4 {
        color: palette(gray, light);
    }

    .feature {
        @include span(12 of 12 inside);
        margin-bottom: size(30);
        text-align: center;

        @media #{$bp-beta} {
            @include span(6 of 12 after);
            margin-bottom: 0;

            &:last-child {
                border-right: 0;
                margin-right: 0;
            }
        }

        h4 {
            color: palette(gray, light);
            display: block;
            margin: size(15) 0;
            text-align: left;
        }

        i {
            color: palette(gray, light);
            font-size: 3.5rem;
            height: 5rem;
            width: 5rem;
        }

        p {
            color: palette(gray, light);
            font-size: 1.2rem;
            margin-bottom: 0;
            text-align: left;
        }
    }
}

.row--white {
    @extend .row--blue;
    background-color: palette(gray, light);

    img {
        border-radius: 100%;
        margin-bottom: 1rem;

        @media #{$bp-alpha} {
            width: 50%;
        }
    }

    .feature {
        p {
            color: palette(gray, dark);
        }
    }
}

.cta {
    background-color: transparent;
    border: 1px solid palette(blue, dark);
    border-radius: size(5);
    color: palette(blue, dark);
    display: inline-block;
    font-size: .85rem;
    margin: 0 size(5) size(10) 0;
    padding: size(10) size(10);
    transition: .1s ease;

    &:hover {
        background-color: palette(blue, light);
        border: 1px solid palette(blue, mid);
        color: palette(gray, light);
    }

    &:last-child {
        margin-right: 0;
    }
}

.fail {
    color: palette(brand, red);

    &:hover {
        color: palette(brand, red);
    }
}

.close {
    float: left;
    font-size: 2rem;
    text-align: right;
    width: 100%;

    a {
        color: palette(gray, mid--light);
        transition: .15s ease;

        &:hover {
            color: palette(gray, mid);
        }
    }
}

.cplus {
    color: palette(brand, yellow);

    &:hover {
        color: palette(brand, yellow);
    }
}

.images {
    float: left;
}

.pass {
    color: palette(brand, green);

    &:hover {
        color: palette(brand, green);
    }
}

.screenshots {
    float: left;
    width: 100%;
}


.add-on--title {
    color: palette(gray, mid--light);
    font-weight: 600;
}
